@import url('/assets/css/components/main.css');


/* CONTACT SECTION */

.contact-section {
    height: 90vh;
    max-width: 100%;
    display: block;
    margin-top: 15rem;
    margin-bottom: 20rem;
}

.contact-section input, .contact-section textarea {
    padding: .5rem;
    width: 80%;
    margin-bottom: 1rem;
    border-radius: .4rem;
    /* border: 2px solid #e2e2e2; */
    border: none;
    font-family: 'Poppins';
    font-weight: 600;
    color: #fff;
    background-color: #56537e2e;
    cursor: pointer;
    caret-color: #fff;
    transition: .5s;
}

.contact-section input:hover, .contact-section textarea:hover {
    background-color:#56537e63;
}

.contact-section input:focus, .contact-section textarea:focus {
    background-color:#56537ec4;
}

.contact-section textarea{
    width: 100%;
    padding: .5rem;
    resize: none;
    font-weight: 300;
}

.contact-title {
    text-align: center;
    margin-bottom: 3rem;
}

.contact-title h1 {
    font-family: 'Quakiez';
    text-transform: capitalize;
    font-size: 2.1rem;
    margin: 1rem;
}

.contact-title p {
    margin: 0;
}

.contact-container, .contact-options {
    display: flex;
    padding: 1rem 10%;
    position: relative;
    width: 100%;
    justify-content: center;
}

.contact-container {
    background-color: #a52a2a17;
    padding: 4rem 0;
    margin: auto;
    border-radius: 3rem;
    width: 90%;
}

.contact-options {
    display: flex;
    position: static;
    justify-content: center;
    text-align: center;
}

.options-row {
    display: flex;
    width: 100%;
}

.contact-option {
    padding-top: 1rem;
    border-radius: 1rem;
    width: 30%;
    transition: .5s ease;
    cursor: pointer;
    margin: 2rem .5rem;
}

.contact-option:hover {
    background-color: #ffffff8b;
}

.contact-option:active {
    background-color: #fff;
}

.active {
    background-color: #a52a2a17;
}

.contact-icon {
    height: 2rem;
    filter: invert(22%) sepia(68%) saturate(3396%) hue-rotate(325deg) brightness(92%) contrast(92%);
    mix-blend-mode: multiply;
}

.contact-section button {
    display: block;
    background: linear-gradient(50.89deg, #56537e, #6b537e);
    font-family: 'Quakiez';
    color: #fff;
    font-size: 1.2rem;
    padding: 1rem 2rem;
    border-radius: 5px;
    transition: .5s ease-in-out;
    width: 50%;
    margin: auto; margin-top: 3rem;
    text-align: center;
    border: none;
    cursor: pointer;
}

.contact-section button:hover {
    border-radius: 28px;
}

.contact-fields {
    display: flex;
}

.contact-fields label {
    display: block;
    margin-bottom: 1rem;
    font-family: 'Quakiez';
}

.qr-container {
    display: inline;
    text-align: center;
    width: 20%;
}

.contact-qr {
    width: 80%;
    margin: auto;
    mix-blend-mode: color-burn;
    margin-top: 1rem;
}



.divider-container {
    width: 9rem;
    height: 50%;
    margin: auto 0;
}

.divider-container hr {
    display: block;
    transform: rotate(90deg);
    width: 5rem;
}

.divider-container p {
    display: block;
    margin: 3rem;
    text-align: center;
}


.mob {
    display: none;
}


/* IPAD PRO 12.9 SIZE */

@media (max-width:1024px) {
    /* .contact-container {
        flex-direction: column-reverse;
    } */
    .contact-container h1 {
        margin: 0;
        margin-bottom: 2.5rem;
    }
    .contact-fields {
        width: 100%;
    }
    .desk {
        display: none;
    }
}

@media (max-width:768px) {
    .contact-section {
        margin-top: 15rem;
        margin-bottom: 10rem;
    }
    .contact-title {
        margin-bottom: 1rem;
    }
}


/* IPHONE XS MAX SIZE */
@media (max-width:415px) {
    .mob {
        display: flex;
    }
    .contact-section {
        margin-top: 10rem;
        margin-bottom: 30rem;
    }
    .contact-detail, .cryptedmail {
        font-size: .7rem;
    }
    .projects-section {
        text-align: center;
    }
    .contact-section {
        text-align: center;
    }
    .contact-section button {
        font-size: 1rem;
        margin-top: 1rem;
    }
    .contact-options {
        display: block;
        margin: 1rem 5%;
        width: 90%;
        background-color: #a52a2a17;
        border-radius: 2rem;
    }
    .contact-option {
        width: 50%;
        margin: .5rem;
    }
    .contact-fields {
        display: block;
    }
    .contact-section input{
        font-size: 1rem;
    }
    .contact-section label{
        margin-top: 1rem;
        margin-bottom: .5rem;
    }
    .contact-section textarea{
        font-size: 1rem;
        width: 90%;
    }
    .w1 {
        width: 100%;
    }
}