@import url('/assets/css/components/main.css');

section {
    height: max-content;
}

.menu-links {
    color: #ffbec1;
}

.header-title {
    overflow: hidden;
    padding: 10rem 0 5rem 0;
    height: 25rem;
    background: linear-gradient(50deg,#aa3131,#130108);
}

.header-title h1 {
    font-family: 'Quakiez';
    font-size: 5rem;
    margin: 0;
    font-weight: 100;
    background: -webkit-linear-gradient(50.89deg, #ff9595, #ff0054);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header-title p {
    font-size: 1.2rem;
    color: #ffcbcb;
}

.project-container {
    position: relative;
    text-align: center;
    font-weight: 100;
}

.shadowLeaf {
    opacity: .7;
    height:115%;
    top: -3rem; left: -6%;
    transform: scale(-1,-1);
    pointer-events: none;
    z-index: 2;
    position: absolute;
    -webkit-animation: airLeaf 20s infinite ease-in-out; /* Safari 4+ */
    -moz-animation:    airLeaf 20s infinite ease-in-out; /* Fx 5+ */
    -o-animation:      airLeaf 20s infinite ease-in-out; /* Opera 12+ */
    animation:         airLeaf 20s infinite ease-in-out; /* IE 10+, Fx 29+ */
}

.description {
    justify-content:right;
    padding: 5rem 0;
}

.description-container h2 {
    font-size: 1rem;
}

.description-container h2 {
    text-transform: uppercase;
    font-size: 1rem;
    color: #E22664;
    margin-bottom: 0rem;
}

.description-container p {
    margin-top: .5rem;
    font-size: 1.1rem;
}

.description-container {
    display: flex;
    grid-gap: auto;
    justify-content: center;
    width: 70%;
    margin: auto;
}

.description-container div {
    width: 60%;
}
.description-container div:nth-child(2) {
    width: 30%;
    padding-left: 10%;
}

.description-container a {
    text-decoration: underline;
}

.pic-section {
    height: 25rem;
    background: linear-gradient(50deg,#aa3131,#130108);
}

.pic-section img {
    height: 100%;
}

.testimonial-section {
    display: block;
    text-align: center;
    padding-bottom: 5rem;
    margin-bottom: 15rem;
    /* height: 25rem; */
    background: linear-gradient(50deg,#aa3131,#130108);

}

.testimonial-section h2 {
    color: #fff;
    width: 80%;
    margin: auto;
    font-size: 1.4rem;
}

.testimonial-section small {
    color: #00dee5;
}

.quote-mark {
    font-size: 8rem;
    margin: 0;
    color: cadetblue;
}




@media (max-width:1024px) {
    .project-container h1 {
        font-size: 3.5rem;
        margin: 0;
        margin-bottom: 0rem;
    }

    .project-container p {
        font-size: .9rem;
    }
    .description-container {
        display: block;
        width: 100%;
    }
    .description {
        padding: 2rem 0;
    }
    .description-container div {
        width: 100%;
        padding: 10%;
    }
    .description-container div:nth-child(2) {
        width: 100%;
        padding: 10%;
        padding-top: 0;
        text-align: center;
    }
}